<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Share Folder</title>
    <style type='text/css'>
      .icon { width: 16px; height: 16px; vertical-align: middle; }
    </style>
  </head>

  <body>
    <section>
      {{emailsender}}
      <p>
        shared with you this folder:
      </p>
      <p>
        <div>
          <img
            width='48'
            height='48'
            src='https://img.icons8.com/fluency/48/folder-invoices--v2.png'
            alt='folder-invoices--v2'
          />
        </div>
        <div> {{namefolder}}</div>
      </p>
    </section>
  </body>
</html>